services:
  dvpn:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dvpn-client
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./:/app
      - ./certs:/app/certs:ro
    env_file:
      - .env
    environment:
      FALLBACK_SCRIPT_PATH: /app/scripts/setup_fallback_node.sh
    restart: unless-stopped
    logging:
      driver: "none"
